
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  color: black;
  text-align:center;
}

p {
  text-align:justify;
}

h1 {
font-weight: bold;
}

table {
  text-align:center;
  border:2px solid black;
  width:750px;
  length:600px;
}

td {
  text-align:center;
  border:1px;
}

img {

}
